<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Comment</title>
  </head>
  <body>
      <h3>Username:</h3>
      <%= comment.username %> 
      <hr>
      <h4>Post ID:<%= comment.id %> <h4> 
      <h4>Comment:</h4>
      <%= comment.comment %>
      <a href="/comments">Go back</a>   
  </body>
</html>
